body{
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;

}
.login-section{
    background-color: rgb(224, 172, 26);
    margin-top: 100px;
    margin-left: 400px;
    margin-right:800px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
.header{
    background-color:#d8daeb;
}
.mid-container{
    display: flex;
    margin-left: 20px;
}
#right{
    margin-left: 80px;
}
#email{
    margin-top: 46px;
    width: 350px;
    height: 35px;
}
#password{
    width: 350px;
    height:35px;
}
#signin{
    width: 350px;
    height: 33px;
    background-color: #f7f7ed;
    border: 0px;
    color: rgb(81, 134, 112);
    font-weight: bold;
}
#member{
    padding-left: 80px;
}
.nav {
    background-color: rgb(219, 228, 237);
    overflow: hidden;
  }
.nav a {
    float: left;
    color: #a63f9c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav a:hover {
    background-color: rgb(169, 42, 80);
    color: black;
  }
.nav a.active {
    background-color: #e59122;
    color: white;
  }
has context menu
